In [110]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
matplotlib.style.use('fivethirtyeight')

from os import listdir
from os.path import isfile, join

import re

In [111]:
def removeExtension(file_name):
    idx = -1
    for i, c in enumerate(file_name):
        if c == '.':
            idx = i
            break
    if idx >= 0:
        return file_name[:idx]
    return file_name

In [112]:
SUBMISSIONS_DIR = './submissions/'
MATCH_RESULTS_DIR = './match_results/'

In [113]:
files = sorted([f for f in listdir(SUBMISSIONS_DIR) if isfile(join(SUBMISSIONS_DIR, f)) and f[-1] != 'c'])
names = sorted([removeExtension(f) for f in files])

teams = list(zip(files, names))

In [134]:
match_results_df = pd.DataFrame(columns=['Team', 'Opponent', 'Wins', 'Losses', 'Ties', 'Invalid'])

In [135]:
def process_raw_outcome(outcome):
    return outcome.replace('\n', '')

for i in range(len(teams)):
    for j in range(i + 1, len(teams)):
        if i == j:
            continue
        
        file_a, name_a = teams[i]
        file_b, name_b = teams[j]
        
        # Get match results for team a vs team b
        match_data_file_name = name_a + '_vs_' + name_b + '.dat'
        try:
            match_data_file = open(join(MATCH_RESULTS_DIR, match_data_file_name), 'r')
        except FileNotFoundError:
            continue
        outcomes = [process_raw_outcome(l) for l in match_data_file]
        match_data_file.close()
        
        # Get DataFrame props
        num_rows, num_cols = match_results_df.shape
        
        # Insert row if doesn't exist or reset row
        index_a, index_b = -1, -1
        for k in range(num_rows):
            row = match_results_df.loc[k]
            if row.Team == name_a and row.Opponent == name_b:
                index_a = k
            if row.Team == name_b and row.Opponent == name_a:
                index_b = k
        if index_a == -1 and index_b == -1:
            index_a, index_b = num_rows, num_rows + 1
        elif index_a == -1:
            index_a = num_rows
        elif index_b == -1:
            index_b == num_rows
        
        win, loss, tied, invalid = 0, 0, 0, 0
        for outcome in outcomes:
            if outcome == name_a:
                win += 1
            elif outcome == name_b:
                loss += 1
            elif outcome == 'tied':
                tied += 1
            elif outcome == 'invalid':
                invalid += 1
            else:
                raise Error('Invalid match outcome')
        match_results_df.loc[index_a] = [name_a, name_b, win, loss, tied, invalid]
        match_results_df.loc[index_b] = [name_b, name_a, loss, win, tied, invalid]

In [139]:
match_results_df.shape

(1756, 6)

In [136]:
match_results_df.head()

,Team,Opponent,Wins,Losses,Ties,Invalid
0,PacBot_Kevin_Cao,baselineTeam2_Rachel_Li,9,3,0,3
1,baselineTeam2_Rachel_Li,PacBot_Kevin_Cao,3,9,0,3
2,PacBot_Kevin_Cao,baselineTeam2_Raghav_Anand,7,8,0,0
3,baselineTeam2_Raghav_Anand,PacBot_Kevin_Cao,8,7,0,0
4,PacBot_Kevin_Cao,cleverTeam_Dylan_Rowe,10,5,0,0

In [137]:
match_results_df[match_results_df['Invalid'] > 10]

,Team,Opponent,Wins,Losses,Ties,Invalid
6,PacBot_Kevin_Cao,contest_ANISH_SAHA,0,0,0,15
7,contest_ANISH_SAHA,PacBot_Kevin_Cao,0,0,0,15
8,PacBot_Kevin_Cao,contest_ANISH_SAHA_1,0,0,0,15
9,contest_ANISH_SAHA_1,PacBot_Kevin_Cao,0,0,0,15
10,PacBot_Kevin_Cao,coolTeam_SONTHAYA_VISUTHIKRAISEE,1,0,0,14
11,coolTeam_SONTHAYA_VISUTHIKRAISEE,PacBot_Kevin_Cao,0,1,0,14
20,PacBot_Kevin_Cao,myTeam2_SEAN_ADAM_MEDIN,0,0,0,15
21,myTeam2_SEAN_ADAM_MEDIN,PacBot_Kevin_Cao,0,0,0,15
34,PacBot_Kevin_Cao,myTeam3_ALI_KHALEEL_AHMED_4,0,0,2,13
35,myTeam3_ALI_KHALEEL_AHMED_4,PacBot_Kevin_Cao,0,0,2,13
36,PacBot_Kevin_Cao,myTeam3_ALI_KHALEEL_AHMED_5,1,0,2,12
37,myTeam3_ALI_KHALEEL_AHMED_5,PacBot_Kevin_Cao,0,1,2,12
42,PacBot_Kevin_Cao,myTeam_ALI_KHALEEL_AHMED_1,1,1,2,11
43,myTeam_ALI_KHALEEL_AHMED_1,PacBot_Kevin_Cao,1,1,2,11
44,PacBot_Kevin_Cao,myTeam_ALI_KHALEEL_AHMED_2,0,0,0,15
45,myTeam_ALI_KHALEEL_AHMED_2,PacBot_Kevin_Cao,0,0,0,15
60,PacBot_Kevin_Cao,myTeam_Christina_Baek,1,0,0,14
61,myTeam_Christina_Baek,PacBot_Kevin_Cao,0,1,0,14
62,PacBot_Kevin_Cao,myTeam_Christina_Baek_1,1,2,1,11
63,myTeam_Christina_Baek_1,PacBot_Kevin_Cao,2,1,1,11
64,PacBot_Kevin_Cao,myTeam_Colin_K_Lai,0,1,0,14
65,myTeam_Colin_K_Lai,PacBot_Kevin_Cao,1,0,0,14
66,PacBot_Kevin_Cao,myTeam_Colin_K_Lai_1,0,0,0,15
67,myTeam_Colin_K_Lai_1,PacBot_Kevin_Cao,0,0,0,15
76,PacBot_Kevin_Cao,myTeam_Laura_Smith,0,1,0,14
77,myTeam_Laura_Smith,PacBot_Kevin_Cao,1,0,0,14
78,PacBot_Kevin_Cao,myTeam_SHARABESH_RAMESH,0,0,0,15
79,myTeam_SHARABESH_RAMESH,PacBot_Kevin_Cao,0,0,0,15
80,PacBot_Kevin_Cao,myTeam_Shreya_Sahoo,0,0,0,15
81,myTeam_Shreya_Sahoo,PacBot_Kevin_Cao,0,0,0,15
...,...,...,...,...,...,...
1726,myTeam_Joshua_Yurtsever,veryCleverTeam_Gao_Xian_Peh,0,0,0,15
1727,veryCleverTeam_Gao_Xian_Peh,myTeam_Joshua_Yurtsever,0,0,0,15
1728,myTeam_Julia_Luo,myTeam_Laura_Smith,0,0,0,15
1729,myTeam_Laura_Smith,myTeam_Julia_Luo,0,0,0,15
1730,myTeam_Julia_Luo,myTeam_SHARABESH_RAMESH,0,0,0,15
1731,myTeam_SHARABESH_RAMESH,myTeam_Julia_Luo,0,0,0,15
1732,myTeam_Julia_Luo,myTeam_Shreya_Sahoo,0,0,0,15
1733,myTeam_Shreya_Sahoo,myTeam_Julia_Luo,0,0,0,15
1734,myTeam_Julia_Luo,myTeam_Swapnil_Das,0,0,0,15
1735,myTeam_Swapnil_Das,myTeam_Julia_Luo,0,0,0,15
1736,myTeam_Julia_Luo,myTeam_Swapnil_Das_1,0,0,0,15
1737,myTeam_Swapnil_Das_1,myTeam_Julia_Luo,0,0,0,15
1738,myTeam_Julia_Luo,myTeam_Xing_Jin,0,0,0,15
1739,myTeam_Xing_Jin,myTeam_Julia_Luo,0,0,0,15
1740,myTeam_Julia_Luo,veryCleverTeam_Gao_Xian_Peh,0,0,0,15
1741,veryCleverTeam_Gao_Xian_Peh,myTeam_Julia_Luo,0,0,0,15
1742,myTeam_Laura_Smith,myTeam_SHARABESH_RAMESH,0,0,0,15
1743,myTeam_SHARABESH_RAMESH,myTeam_Laura_Smith,0,0,0,15
1744,myTeam_Laura_Smith,myTeam_Shreya_Sahoo,0,0,0,15
1745,myTeam_Shreya_Sahoo,myTeam_Laura_Smith,0,0,0,15
1746,myTeam_Laura_Smith,myTeam_Swapnil_Das,0,0,0,15
1747,myTeam_Swapnil_Das,myTeam_Laura_Smith,0,0,0,15
1748,myTeam_Laura_Smith,myTeam_Swapnil_Das_1,0,0,0,15
1749,myTeam_Swapnil_Das_1,myTeam_Laura_Smith,0,0,0,15
1750,myTeam_SHARABESH_RAMESH,myTeam_Swapnil_Das,0,0,0,15
1751,myTeam_Swapnil_Das,myTeam_SHARABESH_RAMESH,0,0,0,15
1752,myTeam_SHARABESH_RAMESH,myTeam_Swapnil_Das_1,0,0,0,15
1753,myTeam_Swapnil_Das_1,myTeam_SHARABESH_RAMESH,0,0,0,15
1754,myTeam_Shreya_Sahoo,myTeam_Swapnil_Das,0,0,0,15
1755,myTeam_Swapnil_Das,myTeam_Shreya_Sahoo,0,0,0,15

In [140]:
match_results_df[match_results_df['Team'] == 'myTeam_Laura_Smith']

,Team,Opponent,Wins,Losses,Ties,Invalid
77,myTeam_Laura_Smith,PacBot_Kevin_Cao,1,0,0,14
165,myTeam_Laura_Smith,baselineTeam2_Rachel_Li,9,4,2,0
251,myTeam_Laura_Smith,baselineTeam2_Raghav_Anand,9,6,0,0
335,myTeam_Laura_Smith,cleverTeam_Dylan_Rowe,9,5,1,0
417,myTeam_Laura_Smith,contest_ANISH_SAHA,0,0,0,15
497,myTeam_Laura_Smith,contest_ANISH_SAHA_1,0,0,0,15
575,myTeam_Laura_Smith,coolTeam_SONTHAYA_VISUTHIKRAISEE,6,4,5,0
651,myTeam_Laura_Smith,myTeam2_4foodNum_ALI_KHALEEL_AHMED,8,4,1,2
725,myTeam_Laura_Smith,myTeam2_5foodNum_ALI_KHALEEL_AHMED,6,7,2,0
797,myTeam_Laura_Smith,myTeam2_ALI_KHALEEL_AHMED,9,5,0,1
867,myTeam_Laura_Smith,myTeam2_ALI_KHALEEL_AHMED_1,3,12,0,0
935,myTeam_Laura_Smith,myTeam2_SEAN_ADAM_MEDIN,0,0,0,15
1001,myTeam_Laura_Smith,myTeam3_4foodNum_ALI_KHALEEL_AHMED,3,8,4,0
1065,myTeam_Laura_Smith,myTeam3_5foodNum_ALI_KHALEEL_AHMED,0,0,0,15
1127,myTeam_Laura_Smith,myTeam3_ALI_KHALEEL_AHMED,5,9,0,1
1187,myTeam_Laura_Smith,myTeam3_ALI_KHALEEL_AHMED_1,0,0,0,15
1237,myTeam_Laura_Smith,myTeam3_ALI_KHALEEL_AHMED_2,0,0,0,15
1277,myTeam_Laura_Smith,myTeam3_ALI_KHALEEL_AHMED_3,0,0,0,15
1363,myTeam_Laura_Smith,myTeam3_ALI_KHALEEL_AHMED_6,0,4,0,11
1387,myTeam_Laura_Smith,myTeam_ALI_KHALEEL_AHMED,4,1,0,10
1433,myTeam_Laura_Smith,myTeam_ALI_KHALEEL_AHMED_2,5,0,1,9
1475,myTeam_Laura_Smith,myTeam_ALI_KHALEEL_AHMED_3,4,3,0,8
1499,myTeam_Laura_Smith,myTeam_ALI_KHALEEL_AHMED_4,0,0,0,15
1525,myTeam_Laura_Smith,myTeam_ANISH_SAHA,0,0,0,15
1559,myTeam_Laura_Smith,myTeam_ANTON_SHELBY_OYUNG,9,0,5,1
1593,myTeam_Laura_Smith,myTeam_ANTON_SHELBY_OYUNG_1,11,1,3,0
1617,myTeam_Laura_Smith,myTeam_Benjamin_Carlson,0,0,0,15
1655,myTeam_Laura_Smith,myTeam_Christina_Baek,0,0,0,15
1671,myTeam_Laura_Smith,myTeam_Christina_Baek_1,0,0,0,15
1695,myTeam_Laura_Smith,myTeam_Colin_K_Lai,0,0,0,15
1721,myTeam_Laura_Smith,myTeam_Joshua_Yurtsever,0,0,0,15
1729,myTeam_Laura_Smith,myTeam_Julia_Luo,0,0,0,15
1742,myTeam_Laura_Smith,myTeam_SHARABESH_RAMESH,0,0,0,15
1744,myTeam_Laura_Smith,myTeam_Shreya_Sahoo,0,0,0,15
1746,myTeam_Laura_Smith,myTeam_Swapnil_Das,0,0,0,15
1748,myTeam_Laura_Smith,myTeam_Swapnil_Das_1,0,0,0,15